In [13]:
import pandas as pd

250129-pred23-3: 0.9323327673 !!!   
250129-pred24-6: 0.9322919964 !!!

In [14]:
path = '/Users/yniyunj/Desktop/AI/250115-EVpriceprediction'
pred23 = pd.read_csv(path+'/submission/240129-pred23-3.csv')
pred24 = pd.read_csv(path+'/submission/240129-pred24-6.csv')

In [15]:
# RMSE가 더 낮은 모델에 높은 가중치 부여 (예: 0.6과 0.4)
weight1 = 0.4
weight2 = 0.6

final_predictions = (weight1 * pred23['가격(백만원)']) + (weight2 * pred24['가격(백만원)'])

In [16]:
pred23.head()

         ID     가격(백만원)
0  TEST_000  130.368170
1  TEST_001   80.043866
2  TEST_002   64.990872
3  TEST_003   35.005814
4  TEST_004   47.889040

In [17]:
pred24.head()

         ID     가격(백만원)
0  TEST_000  130.368182
1  TEST_001   80.043866
2  TEST_002   64.990867
3  TEST_003   35.005820
4  TEST_004   47.889045

In [18]:
# sample_submission 파일을 불러옵니다.
submit = pd.read_csv(path+'/open/sample_submission.csv')

# 제출 파일 저장
submit['가격(백만원)'] = final_predictions
submit.head()

         ID     가격(백만원)
0  TEST_000  130.368177
1  TEST_001   80.043866
2  TEST_002   64.990869
3  TEST_003   35.005818
4  TEST_004   47.889043

In [12]:
submit.to_csv(path+'/submission/240131-pred33.csv', index=False)